<div class="panel panel-default">
	<div class="panel-body">
		<form class="form-inline">
			<div class="form-group">
				<label for="city">Enter A City: </label>
				<input type="text" g-places-autocomplete ng-model="$ctrl.city" force-selection="true" options="$ctrl.search_options" ng-change="$ctrl.selectCity()"/>
			</div>
		</form>
	</div>
</div>
<div class="panel panel-default">
	<table class="table table-striped">
		<tr ng-repeat="restaurant in $ctrl.restaurants">
			<td>
				<a href="#!/restaurants/{{restaurant.id}}">{{restaurant.name}}</a> 
			</td>
		</tr>
	</table>
</div>